#environment variables
*.env
#compiled javascript folder
/dist
#node modules
/node_modules
#log
src/utility/log/log.txt
#mp3 file
src/contrtoller/morning_call.mp3
#package-lock.json
./package-lock.json
#coverage
/coverage
#logs
src//utility/log
#DS_Store
.DS_Store